div#data-entry {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.0rem;
}

table#table-entry {
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: auto;
    border: 1px solid #ddd;
  }

#table-entry th {
    text-align: left;
}

table#table-listing {
    width: 100%;
    font-size: 1.5rem;
}

#table-listing tr:nth-child(2n) {
    background-color: rgb(107, 165, 209);
    color:midnightblue;
}

#table-listing tr > th {
    background-color: black;
    color: white; 
}


input[type=text], select {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;    
    height: 3rem;
    width: 35rem;
    border-radius: 5px;
}

select {
    border: 1px solid black;
}

select option:nth-child(1){
    text-align: center;
    font-weight: bold;
}

option {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
}

.button {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 1.5rem;
    border: 1px solid transparent;
    line-height: 1.42857143;
}

.btn-primary {
    background-color: dodgerblue;
    color: white;
}

.btn-info {
    background-color: green;
    color: white;
}

.btn-danger {
    background-color: crimson;
    color: white;
}

.row {
    margin-left:-5px;
    margin-right:-5px;
  }
    
  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }