<div id="data-entry">
    <table id="table-entry" style = "float: left">
        <tr>
            <th colspan="2"  [ngStyle]="{'text-align': 'center'}">
                <span>Student Information Data Entry</span>
            </th>
        </tr>
        <tr>
           <!-- student ID -->
           <th><label for="id">Student ID</label></th>  
           <td><input type="text" id="id" [(ngModel)] = "studID" required></td>
        </tr>
        <tr>
            <!-- student first name -->
            <th><label for="fname">First Name</label></th>
            <td><input type="text" id="fname" [(ngModel)] = "studFirstName" required></td>
        </tr>
        <tr>
            <!-- student middle name -->
            <th><label for="mname">Middle Name</label></th>
            <td><input type="text" id="mname" [(ngModel)] = "studMidName" required></td>
        </tr>
        <tr>
            <!-- student last name -->
            <th><label for="lname">Last Name</label></th>
            <td><input type="text" id="lname" [(ngModel)] = "studLastName" required></td>
        </tr>
        <tr>
            <!-- college selection menu -->
            <th><label for="college">College</label></th>
            <td>
              <select name="college" id="college" [(ngModel)]="selectedCollege" (ngModelChange)="filterPrograms(selectedCollege, false)" required>
                <option [ngValue]="null">----------- Select College -----------</option>
                <option *ngFor="let college of colleges" [ngValue]="college">
                  {{ college.colFullName }}
                </option>
              </select>
            </td>
          </tr>
          
          <!-- program selection menu -->
          <tr>
            <th><label for="program">Program</label></th>
            <td>
              <select name="program" id="program" [(ngModel)]="selectedProgram" required>
                <option [ngValue]="null">----------- Select Program -----------</option>
                <option *ngFor="let program of filteredPrograms" [ngValue]="program">
                  {{ program.progFullName }}
                </option>
              </select>
            </td>
          </tr>
        <tr>
            <th><label for="year">Year</label></th>
            <td><input type="text" id="year" [(ngModel)] = "studYear"></td>
        </tr>
        <tr>
            <td colspan="2" [ngStyle]="{'text-align': 'center'}">
                <button (click) = "saveStudentInfo()" class="button btn-primary">
                    Save
                </button>

                <button *ngIf = "studentCollection.length > 0" (click)= "printStudentEntries()" class="button btn-info">
                    Print
                </button>
                
                <button (click) = "clearEntries()" class="button btn-primary">
                    Clear Entries
                </button>

                <button *ngIf = "studentCollection.length > 0" (click)= "destroyCollection()" class="button btn-danger">
                    Clear Dataset
                </button>
            </td>
        </tr>
    </table>
    <table *ngIf = "showDetail" id="table-entry" style = "float: left">
        <th colspan="2" [ngStyle]="{'text-align': 'center'}">
            Detail
        </th>
        <tr>
            <label>ID: </label>
            <td><input type="text" [(ngModel)] = "studentIdDetail"></td>
        </tr>
            <tr>
                <label>First Name: </label>
                <td><input type="text" [(ngModel)] = "firstNameDetail"></td>
            </tr>
            <tr>
                <label>Middle Name: </label>
                <td><input type="text" [(ngModel)] = "middleNameDetail"></td>
            </tr>
            <tr>
                <label>Last Name: </label>
                <td><input type="text" [(ngModel)] = "lastNameDetail"></td>
            </tr>
            <tr>
                <label>College </label>
                <td><select name="college" id="college" [(ngModel)]="collegeDetail" (ngModelChange)="filterPrograms(collegeDetail, true)" required>
                    <option [ngValue]="null">----------- Select College -----------</option>
                    <option *ngFor="let college of colleges" [ngValue]="college">
                        {{college.colFullName}}
                    </option>
                </select></td>
            </tr>
            <tr>
                <label>Program </label>
                <td><select name="program" id="program" [(ngModel)]="programDetail" required>
                    <option [ngValue]="null">----------- Select Program -----------</option>
                    <option *ngFor="let program of filterProgramsToCheck(collegeDetail)" [ngValue]="program">
                        {{program.progFullName}}
                    </option>
                </select></td>
            </tr>
            <tr>
                <label>Year </label>
                <td><input type="text" [(ngModel)] = "yearDetail"></td>
            </tr>
            <tr>
                <button (click) = "ChangeDetailStud()" class="button btn-primary">
                    Change
                </button>
                <button (click) = "RemoveLayer(selectedStudentToChange.studID)" class="button btn-primary">
                    Remove
                </button>
            </tr>
            <tr></tr>
    </table>

    <table *ngIf = "printable" id="table-listing">
        <thead>
         <tr>
            <th>Detail</th>
            <th>ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle Initial</th>
            <th>Program Enrolled</th>
            <th>College</th>
            <th>Year</th>
         </tr> 
        </thead>
        <tbody>
         <tr *ngFor = "let student of studentCollection"> 
            <td>
                <button (click) = "ShowDetail(student)" class="button btn-primary">
                    Detail
                </button>
             </td>
             <td>{{student.studID}}</td>
             <td>{{student.studLastName}}</td>
             <td>{{student.studFirstName}}</td>
             <td>{{student.studMidName.substr(0,1) + '.'}}</td>
             <!--<td>{{getProgramName(student.studProgram.progID)}}</td>-->
             <td>{{getProgramName(student.studProgram.progID)}}</td>
             <td>{{getCollegeName(student.studCollege.colID)}}</td>
             <!--<td>
                <select name="program" id="program" [(ngModel)]="student.studProgram" required>
                    <option [ngValue]="student.studProgram[0]">----------- Select Program -----------</option>
                    <option *ngFor="let program of filterProgramsToCheck(student)" [ngValue]="program">
                      {{getProgramName(program.progID)}}
                    </option>
                  </select>
             </td>
             <td>
                <select name="college" id="college" [(ngModel)]="student.studCollege" (ngModelChange)="filterPrograms()" required>
                    <option [ngValue]="null">----------- Select College -----------</option>
                    <option *ngFor="let college of colleges" [ngValue]="college">
                      {{college.colFullName}}
                    </option>
                  </select>
             </td>
             <td>
             </td> -->
             <td>{{student.studYear}}</td>
         </tr>
        </tbody>
    </table>  

</div>